.root {
  margin: 20px auto;
  max-width: 100%;
}

.projectListRoot {
  column-count: 3;
}

.imgWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;
}

.img {
  box-sizing: border-box;
  padding: 2%;
  flex-grow: 1;
  margin: auto;
}

.btn {
  margin: 5px;
  padding: 10px 20px;
  background: transparent;
  border: 1px solid #929292;
  color: #929292;
  cursor: pointer;
}

.btn-selected {
  background: #555555;
  color: #ffffff;
}

.btn:hover {
  color: #000000;
  border-color: #000000;
  box-shadow: 2px 2px 2px #929292;
}

.btn-selected:hover {
  color: #ffffff;
}

.btn:active {
  box-shadow: 4px 4px 2px #929292;
}

@media all and (max-width: 500px) {
  .imgWrapper {
    display: flex;
    flex-direction: column;
  }
}
